{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Macarrones con Tomatico - Noobs Cook Community{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{% static 'css/navigationMenu.css' %}" rel="stylesheet">
    <script src="{% static 'js/navigationMenu.js' %}"></script>


</head>
<body>
    <div class="topnav" id="myTopnav">
        <a href="#home" class="active">Home</a>
        <a href="#news">News</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
        </a>
    </div>
    <section>
        {% block section %}{% endblock %}
    </section>
    <hr>
    <small>Macarrones con Tomatico &copy; Todos los derechos reservados</small>
</body>
</html>